body {
    background-color: #CAD2C5;
    height: 100%;
    text-decoration-color: aliceblue;
}

.nav {

    display: block;
    position: relative;
    margin: 5px;
    text-align: center;
    padding: 15px;
    width: 95%;
    background-color: #2F3D46;
    ;

}

.leftbox {
    border-radius: 25px;
    position: absolute;
    width: 200px;
    border: 3px solid #2F3D46;
    padding: 50px;
    margin: 20px;
    height: 480px;
    left: 30px;
    top: 100px;
    background-color: #353535;
}

.searchbox {
    border-radius: 25px;
    left: 30%;
    position: relative;
    background-color: #353535;
    border: 3px solid #353535;
    width: 50%;
    top: 30px;

}

.rightsubbox {
    border-radius: 25px;
    left: 35%;
    background-color: #353535;
    border: 3px solid #353535;
    width: 180px;
    top: 90px;
    position: relative;
    display: inline-block;
    height: 150px;
    padding: 10px;
    margin: 10px;
}

.rightbottombox {
    border-radius: 25px;
    left: 30%;
    background-color: #353535;
    border: 3px solid #353535;
    width: 840px;
    top: 150px;
    position: relative;
    height: 150px;
    padding: 10px;
    margin: 10px;
}