.form-header {

    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-body{
    margin: 15px;
}
.LastName {
    margin-left: 10px;
}

.p {
    font-size: 10px;
    margin: 5px;

}

.checked {
    color: orange;

}

.form-h-labels {
    padding-top: 10px;

}

form label {
    font-weight: bold;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-break: break-all;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.td1 {
    width: 280px;
}

.required {
    color: red;
}

.form-control {
    width: 280px;
}