table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;

}

th,
td {
  background-color: #96D4D4;
}

.table-responsive {

  width: 80%;

}

.h1,
h1 {
  font-size: 2.5rem;

  background-color: aquamarine;
}