  #tamil{
    padding: 35px;
    background-color: gainsboro;
  }

  #malai{
    padding: 35px;
    background-color: ghostwhite;
  }

  #hindi{
    padding: 35px;
    background-color: gainsboro;
  }
  
  h1{
    text-align: center;
    background-color: aliceblue;
  }

  img {
    margin-right: 25px;
  }
